%
% ~/.config/rebar3/rebar.config
% =============================================================================
% Global configuration file for Rebar3 | https://rebar3.org
% It gets used mostly for plugins management: fetching, configuration, etc.
% =============================================================================
% Copyright (C) 2023 Radislav (Radicchio) Golubtsov
%
% (See the LICENSE file at the top of the source tree.)
%

{plugins, [
    {rebar3_lfe, "0.3.2"} % <== LFE (Lisp Flavoured Erlang) plugin.
]}.

% vim:set nu et ts=4 sw=4:
