#
# .gitignore
# =============================================================================
# Dotfiles. Version 0.9.10
# =============================================================================
# Dotfiles: The constant unpredictably overvalued treasures for any Unix zealot
# (me too). And that is worth it !
#
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# === Object files ============================================================
*.o

# vim:set nu et ts=4 sw=4:
