! =============================================================================
! ~/.Xresources
! =============================================================================

! === Xft =====================================================================
Xft.dpi                                    : 96
Xft.autohint                               : false
Xft.hinting                                : true
Xft.hintstyle                              : hintfull
Xft.antialias                              : true
Xft.lcdfilter                              : lcddefault
Xft.rgba                                   : rgb

! === Xterm ===================================================================
xterm*VT100.geometry                       : 80x25
xterm*dynamicColors                        : true

xterm*faceName                             : LiberationMono:style=Regular:size=14
xterm*utf8                                 : 2
xterm*eightBitInput                        : true

xterm*saveLines                            : 2048
xterm*scrollBar                            : true
xterm*rightScrollBar                       : true

! === URxvt ===================================================================
URxvt*background                           : #000000
URxvt*foreground                           : #bdbdbd

URxvt*font                                 : xft:LiberationMono:size=14
URxvt*boldFont                             : xft:LiberationMono:size=14
URxvt*letterSpace                          : -2

URxvt*scrollstyle                          : next
URxvt*scrollBar_right                      : true
URxvt*scrollColor                          : #bdbdbd
URxvt*secondaryScreen                      : true
URxvt*secondaryScroll                      : false
URxvt*secondaryWheel                       : true

URxvt*perl-ext-common                      : tabbed
URxvt*tabbed.tabbar-bg                     : 7
URxvt*tabbed.tabbar-fg                     : 0
URxvt*tabbed.tab-bg                        : 2
URxvt*tabbed.tab-fg                        : 11

! === XCalc ===================================================================
XCalc*geometry                             : 260x340
XCalc*customization                        : -color
XCalc*bevel.screen*background              : #33cc33
XCalc*bevel.screen*foreground              : #ffff00
XCalc*font                                 : -schumacher-clean-bold-r-normal--16-160-75-75-c-80-iso646.1991-irv

! === Xpdf ====================================================================
xpdf*geometry                              : 896x472
xpdf*background                            : #009900
xpdf*foreground                            : #000000
xpdf*matteColor                            : #006600
xpdf*fontList                              : -schumacher-clean-bold-r-normal--16-160-75-75-c-80-iso646.1991-irv
xpdf*initialZoom                           : width

! =============================================================================
! vim:set nu et ts=4 sw=4:
! =============================================================================
